.aboutContainer {
  background-color: var(--darkBackground);
}
.about {
  max-width: 990px;
  margin: 0 auto;
  color: var(--bsLightText);
  text-align: center;
  /* viewport height - tabs and tabHeader - footer */
  min-height: calc(100vh - 384px - 40px);
  padding-bottom: 50px;
}