.header, .form, .social {
  --headerAndFormWidth: 700px;
}
@media screen and (max-width: 991px) {
  .header, .form, .social {
    --headerAndFormWidth: 95%;
  }
}
.contactContainer {
  background-color: var(--darkBackground);
  min-height: 100vh;
}
.contact {
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  color: var(--yellow);
  font-weight: 400;
}
.header, .form {
  width: var(--headerAndFormWidth);
}
.form {
  margin-top: 1rem;
}
.floatingLabel {
  color: white;
  background-color: transparent;
}
.submit {
  width: 100%;
}
.social {
  width: var(--headerAndFormWidth);
  display: flex;
  flex-direction: column;
}
.socialLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.linkedin,
.github,
.stackOverflow {
  font-size: 2rem;
  color: rgb(185, 185, 185);
  padding: 0 .5rem;
}
.linkedin:hover,
.github:hover,
.stackOverflow:hover {
  color: white;
}