.header, .form, .social {
  --headerAndFormWidth: 700px;
}
@media screen and (max-width: 991px) {
  .header, .form, .social {
    --headerAndFormWidth: 95%;
  }
}
.componentContainer {
  position: relative;
}
.contactContainer {
  background-color: var(--darkBackground);
}
.contact {
  /* viewport height - tabs and tabHeader - footer */
  min-height: calc(100vh - 384px - 40px);
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  color: var(--yellow);
  font-weight: 400;
}
.header, .form {
  width: var(--headerAndFormWidth);
}
.form {
  margin-top: 1rem;
}
.floatingLabel {
  color: white;
  background-color: transparent;
}
.social {
  width: var(--headerAndFormWidth);
  display: flex;
  flex-direction: column;
}
.socialLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.linkedin,
.github,
.stackOverflow {
  font-size: 2rem;
  color: var(--bsLightText);
  padding: 0 .5rem;
  transition: .3s;
}
.linkedin:hover,
.github:hover,
.stackOverflow:hover {
  color: var(--blue);
}
.sending {
  position: absolute;
  top: 0;
  width: 100%;
  min-width: 100vw;
  height: 100%;
  min-height: 100vh;
  display: none;
  opacity: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .8);
  transition: .3s;
}