.heroContainer {
  background-color: rgb(5, 5, 5);
  width: 100vw;
  /* viewport height - tabs + footer */
  height: calc(100vh - 70px + 40px);
  display: flex;
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 576px) {
  .heroContainer {
    justify-content: center;
    align-items: center;
  }
}
.backgroundImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
  mask-image: linear-gradient(transparent, black);
}
.titleContainer {
  display: flex;
  position: absolute;
  margin: 20vh 15vw;
}
@media only screen and (max-width: 576px) {
  .titleContainer {
    margin: -7rem 0 0 0;
  }
}
.title {
  padding: 20px 10px;
}
.heroTitle, .heroSubTitle {
  background-color: transparent;
  color: var(--bsLightText);
  opacity: 0;
}
.heroTitle {
  font-size: 4.5rem;
  font-weight: 400;
  letter-spacing: 12px;
}
.heroSubTitle {
  text-transform: uppercase;
  font-size: 1.75rem;
  font-weight: lighter;
}
