.heroContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.heroBG {
  background-position: 100% 0px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.titleContainer {
  position: absolute;
}
.heroTitle, .heroSubTitle {
  background-color: transparent;
  color: white;
  text-align: center;
  font-weight: lighter;
}
.heroTitle > span {
  font-weight: bold;
  font-size: 2.5rem;
  color: rgb(70, 236, 253);
}
.angle {
  position: absolute;
  bottom: 1rem;
  color: white;
  font-size: 2rem;
}