:root {
  --gray: rgb(121, 121, 121);
  --yellow: rgb(255, 227, 0);
  --darkBackground: rgb(24, 24, 24);
  --bsLightText: rgb(248, 249, 250);
}
.bgImage {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  overflow-x: scroll;
}