.header {
  /* font-size: 10rem; */
  font-size: 13vw;
  font-weight: bold;
  letter-spacing: 5px;
  color: transparent;
  background: rgba(74,74,74,0.18);
  background-clip: text;
  text-shadow: -8px 11px 25px rgba(255,255,255,1);
  padding-left: 5px;
  padding-right: 5px;
}