:root {
  --lightBlue: rgb(70, 236, 253);
  --gray: rgb(99, 113, 115);
  --lightBackground: rgb(255, 255, 255);
  --darkBackground: rgb(33, 37, 41);
}
.container {
  background: url("/img/codeLeft.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
}
.transitionContainer {
  width: 100%;
  height: 150px;
}
.titleContainer {
  background-color: var(--lightBackground);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.title {
  text-align: center;
  color: var(--gray);
  font-size: 3rem;
  font-weight: lighter;
  margin: 3rem 0 1.25rem 0;
}
.underline {
  width: 50%;
  height: 2px;
  border-radius: 1px;
  background-color: var(--lightBlue);
  margin: 0 auto;
}
.projectsContainer {
  width: 100%;
  background-color: var(--lightBackground);
}
.flipCard {
  background-color: transparent;
  perspective: 1500px;
}
.cardInner {
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.flipCard:hover .cardInner {
  transform: rotateY(180deg);
}
.cardFront, .cardBack {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cardBack {
  position: absolute;
  top: 0;
  background-color: var(--darkBackground);
  color: var(--lightBlue);
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
}