/* root variables are in layout.module.css */
.imageCol {
  --imageColHeight: 321.433px;
}
@media (max-width: 1399px) {
  .imageCol {
    --imageColHeight: 278.533px;
  }
}
@media (max-width: 1199px) {
  .imageCol {
    --imageColHeight: 235.633px;
  }
}
@media (max-width: 991px) {
  .imageCol {
    --imageColHeight: 264.233px;
  }
}
@media (max-width: 767px) {
  .imageCol {
    --imageColHeight: 392.933px;
  }
}
@media (max-width: 575px) {
  .imageCol {
    --imageColHeight: calc(100vw / 1.398601399);
  }
}
.componentContainer {
  background-color: var(--darkBackground);
}
.filterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  border-radius: 20px;
}
.filterContainer:hover,
.filterContainer:focus {
  background-color: rgb(58, 58, 58);
}
.filters {
  margin: 0;
  padding-left: 8px;
  padding-right: 8px;
}
.filter {
  text-align: center;
  color: black;
  margin: .5rem 0;
  z-index: 1;
}
.activeFilter {
  background-color: var(--gray);
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.projects {
  padding-top: 1.5rem;
  padding-bottom: 3rem;
  height: fit-content;
}
.imageCol {
  height: var(--imageColHeight);
  padding-top: 12px;
  padding-bottom: 12px;
}
.imageContainer {
  width: 100%;
  position: relative;
}
.projectImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(0, 0, 0, .7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.overlay:hover {
  opacity: 1;
}
.projectTitle {
  text-align: center;
  font-weight: lighter;
  color: var(--yellow);
}
.skill {
  font-weight: 200;
  margin-left: 8px;
  margin-right: 8px;
}
.projectTech {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.linkButton {
  margin: 0 8px;
}