:root {
  --lightBlue: rgb(70, 236, 253);
  --gray: rgb(121, 121, 121);
  --lightBackground: rgb(250, 250, 250);
  --darkBackground: rgb(33, 37, 41);
  --hoverColor: rgb(240, 236, 236);
  --imageColWidth: 432px;
  --imageColHeight: 313.433px;
}
@media only screen and (max-width: 1399px) {
  :root {
    --imageColWidth: 372px;
    --imageColHeight: 270.533px;
  }
}
@media only screen and (max-width: 1199px) {
  :root {
    --imageColWidth: 468px;
    --imageColHeight: 339.183px;
  }
}
@media only screen and (max-width: 991px) {
  :root {
    --imageColWidth: 348px;
    --imageColHeight: 253.383px;
  }
}
@media only screen and (max-width: 767px) {
  :root {
    --imageColWidth: calc(100vw - 24px);
    --imageColHeight: calc((100vw - 24px) / 1.4);
  }
}
.container {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
}
.titleContainer {
  background-color: var(--lightBackground);
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.titleScroller {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-left: -2rem;
  overflow: hidden;
}
.title {
  color: black;
  font-size: 3rem;
  
  font-weight: 700;
  position: relative;
  z-index: 1;
}
.lineBefore {
  width: 100px;
  height: 4px;
  background-color: var(--lightBlue);
  margin: 0 2rem 0;
}
.projectsAndFilters {
  margin-top: -5rem;
}
.projectsContainer {
  background-color: var(--lightBackground);
}
.filterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  border-radius: 20px;
}
.filterContainer:hover {
  background-color: var(--hoverColor);
}
.filters {
  margin: 0;
  padding-left: 8px;
  padding-right: 8px;
}
.filter {
  text-align: center;
  color: var(--gray);
  margin: .5rem 0;
  z-index: 1;
}
.activeFilter {
  background-color: var(--lightBlue);
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.projects {
  padding-top: 1.5rem;
  padding-bottom: 3rem;
  height: fit-content;
}
.imageCol {
  padding: 8px;
  width: var(--imageColWidth);
  height: var(--imageColHeight);
}
.image {
  width: 100%;
  cursor: pointer;
}