.line {
  --lineWidth: 100px;
}
.title {
  --fontSize: 4vw;
  --titleMarginBottom: .5rem;
}
@media only screen and (max-width: 768px) {
  .title {
    --fontSize: 5vw;
  }
}
@media only screen and (max-width: 440px) {
  .line {
    --lineWidth: 80px;
  }
  .title {
    --fontSize: 7vw;
    --titleMarginBottom: 0;
  }
}
.titleScroller {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  overflow: hidden;
  opacity: 0;
}
.title {
  color: black;
  font-size: var(--fontSize);
  font-weight: 700;
  position: relative;
  margin-bottom: var(--titleMarginBottom);
  z-index: 1;
}
.line {
  width: var(--lineWidth);
  height: 4px;
  background-color: var(--yellow);
}