.img {
  --imgWidth: 250px;
  --imgHeight: 250px;
}
@media only screen and (max-width: 576px) {
  .img {
    --imgWidth: 175px;
    --imgHeight: 175px;
  }
}
.container {
  background-color: rgb(1, 1, 1);
}
.imgContainer {
  display: flex;
  justify-content: center;
  background: rgb(1, 1, 1);
}
.img {
  width: var(--imgWidth);
  height: var(--imgHeight);
}
.textContainer {
  background-image: linear-gradient(rgb(1, 1, 1), var(--darkBackground));
  padding-bottom: 20px;
}
.header {
  color: var(--bsLightText);
  font-weight: 400;
  text-align: center;
  margin-top: -2rem;
  transform: translateY(25px);
  opacity: 0;
}
.underline {
  width: 75px;
  height: 2px;
  background-color: var(--blue);
  display: block;
  border-radius: 50%;
  margin: 0 auto 2rem;
  transform: translateY(25px);
  opacity: 0;
}