.container {
  margin-top: -3rem;
  background-color: rgb(250, 250, 250);
}
.col {
  display: flex;
  flex-direction: column;
}
.wrapper {
  margin: 8px;
  box-shadow: -2px 8px 19.95px 1.05px rgba(156, 156, 156, 0.24);
}
.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
.icon {
  max-width: 75%;
  max-height: 75%;
}
.title {
  margin-top: 1rem;
}