.uList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}
.li {
  list-style: none;
  font-size: 1rem;
  font-weight: 200;
  width: 6rem;
  padding: .75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  background-color: var(--bsLightText);
  padding: 4px;
  border-radius: 5px;
}
@media only screen and (max-width: 576px) {
  .li {
    width: 5rem;
    padding: .5rem 3rem;
  }
  .img {
    width: 3rem;
    height: 3rem;
  }
}