.topNav {
  background-color: "rgb(25, 25, 25, .01)";
  padding-left: 16px;
}
.menuContainer {
  display: flex;
  align-items: center;
}
.menu {
  color: white;
}
.menuLinks {
  display: flex;
  flex-direction: column;
}