.topNav {
  background-color: rgb(50, 50, 50, .95);
}
.topNav a {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 3px;
  color: white;
  text-decoration: none;
}
.topNav a:hover {
  color: white;
}
.menu {
  color: white;
  padding: 8px 32px;
}
.menuList {
  list-style: none;
}
.menuList li a {
  font-size: 2rem;
  font-weight: 600;
  color: rgb(34, 31, 31);
  text-decoration: none;
}