.topNav {
  background-color: "rgb(25, 25, 25, .01)";
}
.topNav a {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 3px;
  color: white;
  text-decoration: none;
}
.topNav a:hover {
  color: white;
}
.menu {
  color: white;
  padding: 8px 32px;
}
.menuLinks {
  display: flex;
  flex-direction: column;
}